PERTEMUAN MINGGU 4 **JS 2** <br>
NAMA : **ELVIRA SANIA MUFIDA** <br>
NIM : **2041720080** <br>
KELAS : **TI-3G** <br>
NO ABSEN : **09** <br>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Naive Bayes dengan Data Kategorikal

Pada percobaan kedua ini, kita akan menggunakan data riil untuk melakukan klasifikasi dengan Naive Bayes. Data yang digunakan adalah **salary.xlsx**. Data tersebut menggambarkan apakah seseorang akan memiliki gaji lebih dari $100K berdasarkan perusahaan tempat bekerja, jenis pekerjaan, dan tingkat pendidikan.

## Inspeksi Data

Pada tahap ini kita akan melakukan loading data dan inspeksi data. Hal ini dilakukan untuk mengetahui apakah kita perlu melakukan proses pendahuluan sebelum melakukan training

In [ ]:
import numpy as np
import pandas as pd

# Load data Excel ke Data Frame
df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/DataSet/P4/Bulutangkis.xlsx')

# Cek data
df.head()

     Cuaca       Suhu  Kapasitas Berangin           Aksi
0    Cerah      Panas     Tinggi    Tidak  Tidak Bermain
1    Cerah      Panas     Tinggi      Iya  Tidak Bermain
2  Mendung      Panas     Tinggi    Tidak        Bermain
3    Hujan  Tidakrmal     Tinggi    Tidak        Bermain
4    Hujan     Dingin  Tidakrmal    Tidak        Bermain

Berdasarkan pengecekan data, terdapat data bernilai kategorial pada fitur (variabel) ***Cuaca***, ***Suhu***, ***Kapasitas***. Kita harus melakukan encoding terhadap nilai dari fitur tersebut. Meskipun secara sekilas nilai kategorial menunjukkan tendesi ke tipe data nominal, namun kita tidak akan menggunakan tendik encoding One Hot Encoder atau Ordinal Encoder. Naive Bayes berkerja berdasarkan prinsip probabilitas berkelompok (aksi). 

Hal ini membuat merepresentasikan nilai variabel dalam bentuk encoding sebetulnya tidak terlalu penting. Encoding diperlukan hanya untuk menamai ulang nilai kategori dalam bentuk angka dan kebutuhan library scikit-learn yang menggunakan angka sebagai parameter input.

Percobaan kali ini merupakan penerapan klasik algoritma Naive Bayes. Perhatikan kembali contoh intuisi perhitungan Naive Bayes pada modul Jobsheet 3. Meskipun nilai asli dari fitur tidak diketahui, kita masih dapat melakukan proses klasifikasi dengan Naive Bayes.

## Tahap Persiapan

Pada tahap ini kita akan melakukan beberapa hal, yaitu,

1. Encoding nilai kategorikal untuk kebutuhan training
2. Memisahkan fitur dan label
3. Split data training dan testing

### Encoding

In [ ]:
# Encoding
# Fungsi encoding yang akan digunakan adalah LabelEncoder
# Hal ini karena kita hanya mengganti nilai variabel dari nama berupa string menjadi angka. Sama halnya dengan label

from sklearn.preprocessing import LabelEncoder

# Inisiasi label encoder
encode = LabelEncoder()

# Terpakan label encoder
df['Cuaca'] = encode.fit_transform(df['Cuaca'])
df['Suhu'] = encode.fit_transform(df['Suhu'])
df['Kapasitas'] = encode.fit_transform(df['Kapasitas'])
df['Berangin'] = encode.fit_transform(df['Berangin'])
df['Aksi'] = encode.fit_transform(df['Aksi'])

# Cek hasil
df.head()

   Cuaca  Suhu  Kapasitas  Berangin  Aksi
0      0     1          1         1     1
1      0     1          1         0     1
2      2     1          1         1     0
3      1     2          1         1     0
4      1     0          0         1     0

### Memisahkan Fitur dan Label

In [ ]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

print(X)

    Cuaca  Suhu  Kapasitas  Berangin
0       0     1          1         1
1       0     1          1         0
2       2     1          1         1
3       1     2          1         1
4       1     0          0         1
5       1     0          0         0
6       2     0          0         0
7       0     2          1         1
8       0     0          0         1
9       1     2          0         1
10      0     2          0         0
11      2     2          1         0
12      2     1          0         1
13      1     2          1         0

### Split Data Training dan Testing

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)

## Training dan Evaluasi Model

In [ ]:
# Kita akan menggunakan CategoricalNB untuk kasus ini
from sklearn.naive_bayes import CategoricalNB
from sklearn.metrics import accuracy_score

# Inisasi CategoricalNB
cnb = CategoricalNB()

# Fit model
# Label y harus dalam bentu 1D atau (n_samples,)
cnb.fit(X_train, y_train)

# Prediksi dengan data training
y_train_pred = cnb.predict(X_train)

# Evaluasi akurasi training
acc_train = accuracy_score(y_train, y_train_pred)

# Prediksi test data
y_test_pred = cnb.predict(X_test)

# Evaluasi model dengan metric akurasi
acc_test = accuracy_score(y_test, y_test_pred)

# Print hasil evaluasi
print(f'Hasil akurasi data train: {acc_train}')
print(f'Hasil akurasi data test: {acc_test}')

Hasil akurasi data train: 0.9090909090909091
Hasil akurasi data test: 0.6666666666666666